[flake8]
max-line-length = 120
exclude = .git,__pycache__,build,dist
ignore =
    E402,  # module level import not at top of file
    N999,  # invalid module name
    F403,  # 'from module import *' used
    F405,  # name may be undefined, or defined from star imports
