certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
contourpy==1.2.1
customtkinter==5.1.3
cycler==0.12.1
darkdetect==0.8.0
Deprecated==1.2.13
distlib==0.3.8
evdev==1.7.0
ewmh==0.1.6
filelock==3.13.3
flake8==6.0.0
fonttools==4.51.0
identify==2.5.35
idna==3.6
kiwisolver==1.4.5
matplotlib==3.6.2
mccabe==0.7.0
MouseInfo==0.1.3
mss==7.0.1
nodeenv==1.8.0
numpy==1.23.1
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
packaging==24.0
pandas==1.5.0
Pillow==9.3.0
platformdirs==4.2.0
pre-commit==2.20.0
psutil==5.9.4
PyAutoGUI==0.9.53
pyclick==0.0.2
pycodestyle==2.10.0
pyflakes==3.0.1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.6
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
python-xlib==0.33
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.1
PyWinCtl==0.0.42
PyYAML==6.0.1
requests==2.31.0
simplejson==3.17.6
six==1.16.0
tkinter-tooltip==2.1.0
toml==0.10.2
urllib3==2.2.1
virtualenv==20.25.1
wrapt==1.16.0
xlib==0.21
